workflow/n8n_workflow.json
{
  "name": "SF Credit Memo — TCB CIBG",
  "nodes": [
    {
      "id": "node-01-form",
      "name": "Deal Input Form",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [0, 300],
      "webhookId": "sf-credit-memo-tcb",
      "parameters": {
        "formTitle": "SF Credit Memo Generator",
        "formDescription": "Techcombank CIBG · Structured Finance\n\nPaste your term sheet below. Processing takes 3–5 minutes. Your memo will appear when complete.\n\nAll processing runs locally on your Mac — no data leaves your machine.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Term Sheet",
              "fieldType": "textarea",
              "requiredField": true,
              "placeholder": "Paste your full term sheet text here..."
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {}
      }
    },
    {
      "id": "node-02-config",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [220, 300],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "cfg-1",
              "name": "lm_url",
              "value": "http://host.docker.internal:1234/v1/chat/completions",
              "type": "string"
            },
            {
              "id": "cfg-2",
              "name": "model",
              "value": "qwen/qwen3.6-35b-a3b",
              "type": "string"
            },
            {
              "id": "cfg-3",
              "name": "temperature",
              "value": 0.1,
              "type": "number"
            },
            {
              "id": "cfg-4",
              "name": "max_tokens",
              "value": 8192,
              "type": "number"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "node-03-ing-code",
      "name": "Build Ingestion Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300],
      "parameters": {
        "jsCode": "const cfg = $('Config').first().json;\nconst form = $('Deal Input Form').first().json;\nconst ts = form['Term Sheet'] || Object.values(form)[0] || '';\n\nreturn [{\n  json: {\n    term_sheet: ts,\n    lm_request: {\n      model: cfg.model,\n      temperature: 0,\n      max_tokens: 4096,\n      messages: [\n        {\n          role: 'system',\n          content: 'You are a structured finance document analyst at Techcombank (TCB) in Vietnam.\\n\\nExtract all key deal parameters into a structured format.\\n\\nRules:\\n1. Extract every commercial term precisely as stated\\n2. Flag ambiguous or missing items with [MISSING] or [UNCLEAR]\\n3. Identify governing law and regulatory framework\\n4. Note whether financials are IFRS or VAS (Vietnamese Accounting Standards)\\n5. Never invent numbers — use [NOT PROVIDED] if absent\\n\\nOutput: valid JSON only. No explanation, no preamble.'\n        },\n        {\n          role: 'user',\n          content: 'Extract all deal terms from this document into a JSON object.\\n\\nRequired keys (use [NOT PROVIDED] if absent):\\n{\\n  \"borrower\": \"full legal name\",\\n  \"borrower_type\": \"SOE / Private / FDI / JV / Other\",\\n  \"facility_type\": \"Term Loan / Bond / Revolving Credit / etc.\",\\n  \"amount\": \"numeric amount only\",\\n  \"currency\": \"VND / USD / EUR\",\\n  \"tenor\": \"e.g. 5 years\",\\n  \"pricing\": \"interest rate or spread\",\\n  \"pricing_basis\": \"fixed / floating / SOFR / VND base rate\",\\n  \"security\": \"collateral description\",\\n  \"security_value\": \"collateral value if stated\",\\n  \"purpose\": \"use of proceeds\",\\n  \"repayment_schedule\": \"semi-annual / bullet / amortising\",\\n  \"covenants\": [\"list\"],\\n  \"conditions_precedent\": [\"list\"],\\n  \"governing_law\": \"Vietnamese law / other\",\\n  \"accounting_standard\": \"IFRS / VAS / Unknown\",\\n  \"ebitda_annual\": null,\\n  \"total_debt\": null,\\n  \"interest_rate_pct\": null,\\n  \"tenor_years\": null,\\n  \"collateral_value_number\": null,\\n  \"missing_or_unclear\": [\"list\"]\\n}\\n\\nNumeric fields: number only (USD 25M = 25000000, 3.5% = 3.5). Use null if not stated.\\n\\nDOCUMENT:\\n' + ts + '\\n\\nJSON only. No other text.'\n        }\n      ]\n    }\n  }\n}];"
      }
    },
    {
      "id": "node-04-ing-http",
      "name": "Agent 1 — Ingestion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').first().json.lm_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer lm-studio" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json.lm_request) }}",
        "options": {}
      }
    },
    {
      "id": "node-05-mkt-code",
      "name": "Parse Ingestion + Build Market Intel",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 300],
      "parameters": {
        "jsCode": "const cfg = $('Config').first().json;\nconst prev = $('Build Ingestion Request').first().json;\nconst raw = $input.first().json.choices[0].message.content || '';\n\nlet parsed = {};\ntry {\n  const c = raw.replace(/```json\\n?/g, '').replace(/```/g, '').trim();\n  parsed = JSON.parse(c);\n} catch(e) {\n  parsed = { raw_extraction: raw, parse_error: 'JSON parse failed — check ingestion output' };\n}\n\nconst borrower = parsed.borrower || 'Unknown borrower';\nconst bType = parsed.borrower_type || 'Unknown';\nconst fType = parsed.facility_type || 'Unknown facility';\nconst amount = parsed.amount || 'Unknown';\nconst currency = parsed.currency || 'USD';\nconst purpose = parsed.purpose || 'Not specified';\n\nreturn [{\n  json: {\n    term_sheet: prev.term_sheet,\n    parsed_terms: parsed,\n    lm_request: {\n      model: cfg.model,\n      temperature: cfg.temperature,\n      max_tokens: 4096,\n      messages: [\n        {\n          role: 'system',\n          content: 'You are a market intelligence analyst specialising in Vietnam\\'s structured finance and capital markets at Techcombank CIBG.\\n\\nStandards:\\n- Distinguish Fact (sourced), Inference (reasoned), and Opinion (judgement)\\n- Name the source alongside every figure (e.g. \"SBV Circular 02/2023\")\\n- Flag stale data — Vietnamese macro data typically lags 1-2 quarters\\n- Reference approximate date of all data (e.g. \"as of Q3 2024\")\\n- If you lack current data, say so — do not fabricate figures'\n        },\n        {\n          role: 'user',\n          content: 'Provide market intelligence for this deal. Be explicit about sources and dates.\\n\\nDEAL:\\n- Borrower: ' + borrower + ' (' + bType + ')\\n- Facility: ' + fType + ' — ' + amount + ' ' + currency + '\\n- Purpose: ' + purpose + '\\n\\nReturn JSON:\\n{\\n  \"sector_overview\": {\\n    \"sector_name\": \"...\",\\n    \"sector_outlook\": \"2-3 sentence assessment\",\\n    \"key_risks\": [\"risk 1\", \"risk 2\", \"risk 3\"],\\n    \"key_tailwinds\": [\"tailwind 1\", \"tailwind 2\"],\\n    \"data_source\": \"source and approximate date\"\\n  },\\n  \"benchmark_rates\": {\\n    \"sbv_refinancing_rate\": \"rate + source + date\",\\n    \"typical_lending_spread\": \"range for this credit tier\",\\n    \"usd_benchmark\": \"SOFR rate if USD deal\",\\n    \"data_source\": \"source and date — flag if stale\"\\n  },\\n  \"comparable_deals\": [{\\n    \"description\": \"comparable deal description\",\\n    \"amount\": \"size\",\\n    \"pricing\": \"rate\",\\n    \"source\": \"data source\",\\n    \"reliability\": \"high / medium / low\"\\n  }],\\n  \"sbv_policy_context\": \"Key SBV policies relevant to this facility — name Circulars/Decisions specifically\",\\n  \"macro_risks\": [{\\n    \"risk\": \"description\",\\n    \"severity\": \"HIGH / MEDIUM / LOW\",\\n    \"mitigation\": \"structural response\"\\n  }],\\n  \"data_quality_notes\": \"Caveats on data freshness or gaps\"\\n}\\n\\nJSON only.'\n        }\n      ]\n    }\n  }\n}];"
      }
    },
    {
      "id": "node-06-mkt-http",
      "name": "Agent 2 — Market Intel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').first().json.lm_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer lm-studio" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json.lm_request) }}",
        "options": {}
      }
    },
    {
      "id": "node-07-fin-code",
      "name": "Parse Market Intel + Build Fin Params",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 300],
      "parameters": {
        "jsCode": "const cfg = $('Config').first().json;\nconst prev = $('Parse Ingestion + Build Market Intel').first().json;\nconst raw = $input.first().json.choices[0].message.content || '';\n\nlet marketCtx = {};\ntry {\n  const c = raw.replace(/```json\\n?/g, '').replace(/```/g, '').trim();\n  marketCtx = JSON.parse(c);\n} catch(e) {\n  marketCtx = { raw_analysis: raw, parse_error: 'JSON parse failed' };\n}\n\nconst pt = prev.parsed_terms;\n\nreturn [{\n  json: {\n    term_sheet: prev.term_sheet,\n    parsed_terms: pt,\n    market_context: marketCtx,\n    lm_request: {\n      model: cfg.model,\n      temperature: 0,\n      max_tokens: 2048,\n      messages: [\n        {\n          role: 'system',\n          content: 'You are a structured finance modeller at Techcombank CIBG, Vietnam.\\n\\nCRITICAL RULE: Do NOT perform arithmetic. Extract financial parameters only.\\nA separate calculation engine handles all math.\\n\\nAlways specify IFRS vs VAS — the divergence is material.\\nUse null for any number not explicitly stated in the document.'\n        },\n        {\n          role: 'user',\n          content: 'Extract financial modelling parameters. Do NOT calculate anything — extract only.\\n\\nDEAL TERMS:\\n' + JSON.stringify(pt, null, 2) + '\\n\\nReturn JSON:\\n{\\n  \"ebitda_annual\": null_or_number,\\n  \"total_debt\": null_or_number,\\n  \"proposed_facility_amount\": null_or_number,\\n  \"annual_debt_service\": null_or_number,\\n  \"interest_rate_pct\": null_or_number,\\n  \"tenor_years\": null_or_number,\\n  \"repayment_type\": \"bullet / amortising / semi-annual / other\",\\n  \"collateral_value\": null_or_number,\\n  \"accounting_standard\": \"IFRS / VAS / Unknown\",\\n  \"financials_available\": true_or_false,\\n  \"missing_data\": [\"items missing that affect modelling\"],\\n  \"structural_notes\": \"features affecting cashflows\"\\n}\\n\\nJSON only. null for any unstated number.'\n        }\n      ]\n    }\n  }\n}];"
      }
    },
    {
      "id": "node-08-fin-http",
      "name": "Agent 3a — Extract Financial Params",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1540, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').first().json.lm_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer lm-studio" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json.lm_request) }}",
        "options": {}
      }
    },
    {
      "id": "node-09-calc-code",
      "name": "Calculate DSCR + Build Narrative Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, 300],
      "parameters": {
        "jsCode": "const cfg = $('Config').first().json;\nconst prev = $('Parse Market Intel + Build Fin Params').first().json;\nconst raw = $input.first().json.choices[0].message.content || '';\n\nlet params = {};\ntry {\n  const c = raw.replace(/```json\\n?/g, '').replace(/```/g, '').trim();\n  params = JSON.parse(c);\n} catch(e) {\n  params = { parse_error: raw };\n}\n\n// === DSCR CALCULATION (JavaScript — not the LLM) ===\nfunction calcDSCR(ebitda, ads, facility, rate, tenor, repType) {\n  const r = { dscr_base: null, assessment: null, ads_used: null, notes: [] };\n  if (!ebitda) { r.notes.push('EBITDA not available — DSCR cannot be calculated'); return r; }\n  if (!ads) {\n    if (facility && rate && tenor) {\n      const interest = facility * (rate / 100);\n      ads = (repType === 'bullet') ? interest : interest + (facility / tenor);\n      r.notes.push(repType === 'bullet' ? 'Bullet: ADS = interest only' : 'Amortising: ADS = interest + principal');\n    } else {\n      r.notes.push('Cannot estimate ADS — missing facility amount, rate, or tenor'); return r;\n    }\n  }\n  r.ads_used = Math.round(ads);\n  const d = ebitda / ads;\n  r.dscr_base = Math.round(d * 100) / 100;\n  if (d >= 1.50) r.assessment = 'STRONG — significant headroom above 1.50x';\n  else if (d >= 1.25) r.assessment = 'ADEQUATE — comfortable above 1.25x minimum';\n  else if (d >= 1.10) r.assessment = 'MARGINAL — above 1.10x floor but limited headroom';\n  else if (d >= 1.00) r.assessment = 'WEAK — above 1.0x but below acceptable minimum';\n  else r.assessment = 'CRITICAL — DSCR below 1.0x, debt service not covered by cash flow';\n  return r;\n}\n\nfunction calcWaterfall(collateral, facility) {\n  const r = { ltv_calculated: null, coverage_ratio: null, assessment: null, notes: [] };\n  if (!collateral || !facility) { r.notes.push('Insufficient data for LTV calculation'); return r; }\n  const ltv = (facility / collateral) * 100;\n  r.ltv_calculated = Math.round(ltv * 10) / 10;\n  r.coverage_ratio = Math.round((collateral / facility) * 100) / 100;\n  if (ltv <= 50) r.assessment = 'STRONG — LTV below 50%, substantial collateral headroom';\n  else if (ltv <= 65) r.assessment = 'ADEQUATE — LTV within 65% threshold';\n  else if (ltv <= 75) r.assessment = 'ACCEPTABLE — LTV within 75% limit';\n  else if (ltv <= 80) r.assessment = 'ELEVATED — approaching 80% LTV ceiling';\n  else r.assessment = 'HIGH — LTV exceeds 80%, collateral may be insufficient';\n  return r;\n}\n\nfunction calcStress(baseDSCR, baseLTV) {\n  const s = {};\n  if (baseDSCR) {\n    s.dscr_stress = {\n      base: baseDSCR,\n      revenue_down_10pct: Math.round(baseDSCR * 0.90 * 100) / 100,\n      revenue_down_20pct: Math.round(baseDSCR * 0.80 * 100) / 100,\n      revenue_down_30pct: Math.round(baseDSCR * 0.70 * 100) / 100,\n      break_even_revenue_decline: baseDSCR > 0 ? (Math.round((1 - 1.10 / baseDSCR) * 1000) / 10) + '%' : 'N/A'\n    };\n  }\n  if (baseLTV) {\n    s.ltv_stress = {\n      base: baseLTV,\n      collateral_down_10pct: Math.round(baseLTV / 0.90 * 10) / 10,\n      collateral_down_20pct: Math.round(baseLTV / 0.80 * 10) / 10\n    };\n  }\n  if (!baseDSCR && !baseLTV) s.note = 'Insufficient base case data for stress scenarios';\n  return s;\n}\n\nconst dscrResult = calcDSCR(\n  params.ebitda_annual, params.annual_debt_service,\n  params.proposed_facility_amount, params.interest_rate_pct,\n  params.tenor_years, params.repayment_type\n);\nconst waterfallResult = calcWaterfall(params.collateral_value, params.proposed_facility_amount);\nconst stressResult = calcStress(dscrResult.dscr_base, waterfallResult.ltv_calculated);\n\nconst calcResults = {\n  dscr_analysis: dscrResult,\n  waterfall: waterfallResult,\n  stress_scenarios: stressResult\n};\n\nreturn [{\n  json: {\n    term_sheet: prev.term_sheet,\n    parsed_terms: prev.parsed_terms,\n    market_context: prev.market_context,\n    fin_params: params,\n    calc_results: calcResults,\n    lm_request: {\n      model: cfg.model,\n      temperature: cfg.temperature,\n      max_tokens: 2048,\n      messages: [\n        {\n          role: 'system',\n          content: 'You are a structured finance modeller at Techcombank CIBG. You write credit narrative around Python-verified financial metrics.\\n\\nDo NOT change any figures. Write in formal, analytical English. Max 400 words. No tables — narrative only.'\n        },\n        {\n          role: 'user',\n          content: 'Write the financial analysis section of a credit committee memo.\\n\\nThe numbers below are VERIFIED by a calculation engine — use them exactly. Do not modify or recalculate.\\n\\nVERIFIED METRICS:\\n' + JSON.stringify(calcResults, null, 2) + '\\n\\nDEAL PARAMETERS:\\n' + JSON.stringify(params, null, 2) + '\\n\\nWrite:\\n1. Financial structure summary (2-3 sentences)\\n2. Key credit metrics — reference each verified figure\\n3. Base case assumption and what would break it\\n4. 3-5 financial risk bullet points\\n\\nMax 400 words. Narrative paragraphs only.'\n        }\n      ]\n    }\n  }\n}];"
      }
    },
    {
      "id": "node-10-narr-http",
      "name": "Agent 3b — Financial Narrative",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1980, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').first().json.lm_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer lm-studio" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json.lm_request) }}",
        "options": {}
      }
    },
    {
      "id": "node-11-comp-code",
      "name": "Parse Narrative + Build Compliance Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2200, 300],
      "parameters": {
        "jsCode": "const cfg = $('Config').first().json;\nconst prev = $('Calculate DSCR + Build Narrative Request').first().json;\nconst narrative = ($input.first().json.choices[0].message.content || '').trim();\n\nreturn [{\n  json: {\n    term_sheet: prev.term_sheet,\n    parsed_terms: prev.parsed_terms,\n    market_context: prev.market_context,\n    fin_params: prev.fin_params,\n    calc_results: prev.calc_results,\n    fin_narrative: narrative,\n    lm_request: {\n      model: cfg.model,\n      temperature: 0,\n      max_tokens: 4096,\n      messages: [\n        {\n          role: 'system',\n          content: 'You are a compliance and regulatory risk analyst at Techcombank CIBG, Vietnam.\\n\\nCRITICAL RULES:\\n1. State regulatory references with full title, number, and year\\n2. If uncertain about a regulation, say so explicitly\\n3. Mark findings: VERIFIED / PROBABLE / NEEDS VERIFICATION\\n4. Do not provide legal advice — flag for human review\\n5. IFRS vs VAS divergence is material — always flag if covenant basis is unclear\\n6. Vietnamese law does not always map 1:1 to international standards — flag where analogies are drawn'\n        },\n        {\n          role: 'user',\n          content: 'Screen this deal for regulatory compliance and risk flags.\\n\\nDEAL TERMS:\\n' + JSON.stringify(prev.parsed_terms, null, 2) + '\\n\\nFINANCIAL SUMMARY:\\n' + JSON.stringify(prev.fin_params, null, 2) + '\\n\\nReturn JSON:\\n{\\n  \"compliance_flags\": [\\n    {\\n      \"severity\": \"HIGH / MEDIUM / LOW\",\\n      \"category\": \"Single Borrower Limit / Foreign Currency / Collateral / IFRS-VAS / Related Party / Other\",\\n      \"issue\": \"clear description of the compliance concern\",\\n      \"regulation_reference\": \"Full name + number + year (or NEEDS VERIFICATION)\",\\n      \"verification_status\": \"VERIFIED / PROBABLE / NEEDS VERIFICATION\",\\n      \"recommendation\": \"what the deal team or legal should do\",\\n      \"deal_breaker\": true\\n    }\\n  ],\\n  \"sbv_limit_check\": {\\n    \"single_borrower_limit_applicable\": true,\\n    \"foreign_currency_lending_applicable\": true,\\n    \"notes\": \"summary of limit analysis\"\\n  },\\n  \"covenant_assessment\": {\\n    \"ifrs_vs_vas_flag\": \"Do covenants specify IFRS or VAS? State if unclear.\",\\n    \"covenant_gaps\": [\"missing covenants for this facility type\"]\\n  },\\n  \"overall_regulatory_position\": \"CLEAR / FLAGS FOR REVIEW / SIGNIFICANT CONCERNS\",\\n  \"disclaimer\": \"These flags require verification by TCB Legal and Compliance before finalisation.\"\\n}\\n\\nJSON only.'\n        }\n      ]\n    }\n  }\n}];"
      }
    },
    {
      "id": "node-12-comp-http",
      "name": "Agent 4 — Compliance",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2420, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').first().json.lm_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer lm-studio" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json.lm_request) }}",
        "options": {}
      }
    },
    {
      "id": "node-13-memo-code",
      "name": "Parse Compliance + Build Memo Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2640, 300],
      "parameters": {
        "jsCode": "const cfg = $('Config').first().json;\nconst prev = $('Parse Narrative + Build Compliance Request').first().json;\nconst raw = $input.first().json.choices[0].message.content || '';\n\nlet compResult = {};\ntry {\n  const c = raw.replace(/```json\\n?/g, '').replace(/```/g, '').trim();\n  compResult = JSON.parse(c);\n} catch(e) {\n  compResult = { raw_output: raw, overall_regulatory_position: 'REVIEW REQUIRED' };\n}\n\nconst flags = compResult.compliance_flags || [];\nconst highFlags = flags.filter(f => f.severity === 'HIGH');\nconst pt = prev.parsed_terms;\n\nconst TCB_TONE = 'WRITING STANDARDS — TCB CIBG CREDIT DOCUMENTS:\\n\\nVoice & Tone:\\n- Formal professional English, appropriate for Vietnamese commercial banking\\n- Active voice where possible; passive only for regulatory statements\\n- No hedging language — say what is, or say it is unknown\\n- No filler openings — state the deal directly\\n- No AI-style sentences (\"It is worth noting...\", \"Furthermore...\", \"In conclusion...\")\\n\\nNumbers & Data:\\n- All figures must cite their source inline (e.g. \"USD 7.2M EBITDA, per audited FS FY2025, IFRS\")\\n- IFRS vs VAS must be specified for all financial metrics\\n- Unverified data must be labelled [Estimate — verify with live data]\\n\\nRegulatory References:\\n- Always cite full Circular/Decree title: \"Circular 22/2019/TT-NHNN\" not \"Circular 22\"\\n- If reference cannot be confirmed: [Regulation — verify current status with Legal]\\n\\nStructure:\\n- Headings must be informative: \"DSCR at 1.4x — Adequate Coverage\" not \"Financial Analysis\"\\n- Recommendation must be unambiguous: Approve / Approve subject to conditions / Decline';\n\nconst MEMO_STRUCTURE = '1. EXECUTIVE SUMMARY — 3-4 sentences: who, what, why, key risk, recommendation\\n2. BORROWER BACKGROUND — corporate profile, ownership, history, financials (note IFRS/VAS)\\n3. TRANSACTION STRUCTURE — facility type, amount, tenor, pricing, repayment, security, purpose\\n4. FINANCIAL ANALYSIS — use the VERIFIED figures exactly (DSCR, LTV, stress scenarios)\\n5. MARKET & SECTOR CONTEXT — sector outlook, comparables, SBV policy, macro risks\\n6. SECURITY & COLLATERAL — description, valuation basis, LTV, enforceability under Vietnamese law\\n7. REGULATORY & COMPLIANCE ASSESSMENT — SBV limits, foreign currency, IFRS/VAS flags; ALL HIGH flags must appear here\\n8. RISK ASSESSMENT & MITIGANTS — top 5 risks with severity and mitigant\\n9. CONDITIONS & COVENANTS — CPs, financial covenants (specify IFRS or VAS basis), reporting requirements\\n10. RECOMMENDATION — Approve / Approve subject to conditions / Decline (unambiguous statement)';\n\nconst dealSummary = {\n  borrower: pt.borrower || '[NOT PROVIDED]',\n  facility: (pt.amount || '') + ' ' + (pt.currency || '') + ' ' + (pt.facility_type || ''),\n  tenor: pt.tenor || '[NOT PROVIDED]',\n  pricing: pt.pricing || '[NOT PROVIDED]',\n  purpose: pt.purpose || '[NOT PROVIDED]',\n  security: pt.security || '[NOT PROVIDED]'\n};\n\nreturn [{\n  json: {\n    term_sheet: prev.term_sheet,\n    parsed_terms: pt,\n    market_context: prev.market_context,\n    fin_params: prev.fin_params,\n    calc_results: prev.calc_results,\n    fin_narrative: prev.fin_narrative,\n    compliance_flags: flags,\n    compliance_result: compResult,\n    lm_request: {\n      model: cfg.model,\n      temperature: 0.1,\n      max_tokens: 8192,\n      messages: [\n        {\n          role: 'system',\n          content: 'You are the Memo Architect for Techcombank CIBG Structured Finance team.\\n\\n' + TCB_TONE + '\\n\\nIMPORTANT: Where data gaps exist, state them explicitly. A credit committee can work with an honest gap — it cannot work with fabricated analysis.'\n        },\n        {\n          role: 'user',\n          content: 'Write a complete credit committee memo using all data below. Follow the TCB CC memo structure exactly. Write in paragraphs — not bullet points in narrative sections.\\n\\nDEAL SUMMARY:\\n' + JSON.stringify(dealSummary, null, 2) + '\\n\\nFULL DEAL TERMS (Ingestion Agent):\\n' + JSON.stringify(pt, null, 2) + '\\n\\nFINANCIAL METRICS (VERIFIED — use exactly as given):\\n' + JSON.stringify(prev.calc_results, null, 2) + '\\n\\nFINANCIAL NARRATIVE:\\n' + prev.fin_narrative + '\\n\\nMARKET CONTEXT:\\n' + JSON.stringify(prev.market_context, null, 2) + '\\n\\nCOMPLIANCE FLAGS (' + flags.length + ' total, ' + highFlags.length + ' HIGH):\\n' + JSON.stringify(flags, null, 2) + '\\n\\nREGULATORY POSITION: ' + (compResult.overall_regulatory_position || 'UNKNOWN') + '\\n\\nMEMO STRUCTURE:\\n' + MEMO_STRUCTURE + '\\n\\nTarget length: 900-1200 words. Informative section headings. End with clear Recommendation and list any conditions.'\n        }\n      ]\n    }\n  }\n}];"
      }
    },
    {
      "id": "node-14-memo-http",
      "name": "Agent 5 — Memo Architect",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2860, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').first().json.lm_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer lm-studio" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json.lm_request) }}",
        "options": {}
      }
    },
    {
      "id": "node-15-html-code",
      "name": "Format HTML Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3080, 300],
      "parameters": {
        "jsCode": "const prev = $('Parse Compliance + Build Memo Request').first().json;\nconst memo = ($input.first().json.choices[0].message.content || '').trim();\n\nconst borrower = prev.parsed_terms.borrower || 'Unknown Borrower';\nconst date = new Date().toLocaleDateString('en-GB', { day: '2-digit', month: 'long', year: 'numeric' });\nconst dscr = prev.calc_results?.dscr_analysis?.dscr_base;\nconst dscrAssess = prev.calc_results?.dscr_analysis?.assessment || '';\nconst ltv = prev.calc_results?.waterfall?.ltv_calculated;\nconst ltvAssess = prev.calc_results?.waterfall?.assessment || '';\nconst regPos = prev.compliance_result?.overall_regulatory_position || 'REVIEW REQUIRED';\nconst flagCount = (prev.compliance_flags || []).length;\nconst highCount = (prev.compliance_flags || []).filter(f => f.severity === 'HIGH').length;\n\nconst regColor = regPos === 'CLEAR' ? '#198754' : regPos.includes('SIGNIFICANT') ? '#dc3545' : '#fd7e14';\n\n// Convert memo text to HTML\nconst htmlMemo = memo.split('\\n').map(line => {\n  const t = line.trim();\n  if (!t) return '<br>';\n  if (t.match(/^\\d{1,2}\\./)) return '<h3>' + t + '</h3>';\n  if (t.match(/^[A-Z][A-Z\\s&—:]+$/) && t.length < 80 && t.length > 3) return '<h3>' + t + '</h3>';\n  if (t.startsWith('- ') || t.startsWith('• ')) return '<li>' + t.slice(2) + '</li>';\n  return '<p>' + t + '</p>';\n}).join('\\n');\n\nconst html = `<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n<title>CC Memo — ${borrower}</title>\n<style>\n  body{font-family:'Georgia',serif;max-width:960px;margin:30px auto;padding:0 20px;color:#1a1a1a;background:#f5f5f0}\n  .header{background:#002147;color:#fff;padding:20px 30px;margin-bottom:20px}\n  .header h1{margin:0 0 6px 0;font-size:16px;letter-spacing:1px;font-family:Arial,sans-serif}\n  .header p{margin:0;font-size:12px;opacity:.75;font-family:Arial,sans-serif}\n  .metrics{display:grid;grid-template-columns:repeat(3,1fr);gap:12px;margin-bottom:20px}\n  .metric{background:#fff;border-left:4px solid #002147;padding:14px;box-shadow:0 1px 3px rgba(0,0,0,.08)}\n  .metric .lbl{font-size:10px;color:#666;text-transform:uppercase;letter-spacing:.5px;font-family:Arial,sans-serif}\n  .metric .val{font-size:22px;font-weight:bold;color:#002147;margin:4px 0 2px;font-family:Arial,sans-serif}\n  .metric .sub{font-size:11px;color:#555;font-family:Arial,sans-serif}\n  .memo{background:#fff;padding:40px 48px;box-shadow:0 1px 4px rgba(0,0,0,.1)}\n  h3{color:#002147;border-bottom:1px solid #002147;padding-bottom:3px;margin:28px 0 12px;font-size:13px;text-transform:uppercase;letter-spacing:.5px;font-family:Arial,sans-serif}\n  p{line-height:1.75;margin:10px 0;font-size:14px}\n  li{margin:5px 0 5px 24px;font-size:14px;line-height:1.65}\n  .disclaimer{margin-top:30px;padding:14px 18px;background:#fff3cd;border:1px solid #ffc107;font-size:12px;color:#7d5a00;font-family:Arial,sans-serif}\n  .btn{background:#002147;color:#fff;border:none;padding:9px 18px;cursor:pointer;font-size:12px;margin-bottom:16px;font-family:Arial,sans-serif;letter-spacing:.3px}\n  .btn:hover{background:#003580}\n  @media print{.btn{display:none}body{background:#fff}.memo{box-shadow:none}}\n</style>\n</head>\n<body>\n<div class=\"header\">\n  <h1>CREDIT COMMITTEE MEMORANDUM — DRAFT</h1>\n  <p>Techcombank CIBG &nbsp;·&nbsp; Structured Finance &nbsp;·&nbsp; Generated ${date} &nbsp;·&nbsp; CONFIDENTIAL</p>\n</div>\n\n<div class=\"metrics\">\n  <div class=\"metric\">\n    <div class=\"lbl\">DSCR (Base Case)</div>\n    <div class=\"val\">${dscr ? dscr + 'x' : 'N/A'}</div>\n    <div class=\"sub\">${dscrAssess}</div>\n  </div>\n  <div class=\"metric\">\n    <div class=\"lbl\">LTV (Calculated)</div>\n    <div class=\"val\">${ltv ? ltv + '%' : 'N/A'}</div>\n    <div class=\"sub\">${ltvAssess}</div>\n  </div>\n  <div class=\"metric\">\n    <div class=\"lbl\">Regulatory Position</div>\n    <div class=\"val\" style=\"font-size:14px;margin-top:8px;color:${regColor}\">${regPos}</div>\n    <div class=\"sub\">${flagCount} flags &nbsp;·&nbsp; ${highCount} HIGH</div>\n  </div>\n</div>\n\n<button class=\"btn\" onclick=\"window.print()\">Print / Save as PDF</button>\n\n<div class=\"memo\">\n${htmlMemo}\n</div>\n\n<div class=\"disclaimer\">\n  <strong>DISCLAIMER:</strong> This memorandum was generated by TCB SF Agentic AI from the submitted term sheet on ${date}.\n  All financial figures, regulatory references, and compliance flags must be independently verified by TCB Credit Risk,\n  Legal, and Compliance teams before use in any official credit decision. This is a draft working document only.\n</div>\n</body>\n</html>`;\n\nreturn [{\n  json: {\n    html_output: html,\n    memo_text: memo,\n    borrower: borrower,\n    dscr: dscr,\n    ltv: ltv,\n    compliance_flags: flagCount,\n    high_flags: highCount\n  }\n}];"
      }
    },
    {
      "id": "node-16-form-end",
      "name": "Memo Ready",
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [3300, 300],
      "parameters": {
        "operation": "completion",
        "completionTitle": "Credit Committee Memo — Generated",
        "completionMessage": "={{ $('Format HTML Output').first().json.memo_text }}"
      }
    }
  ],
  "connections": {
    "Deal Input Form": {
      "main": [[{ "node": "Config", "type": "main", "index": 0 }]]
    },
    "Config": {
      "main": [[{ "node": "Build Ingestion Request", "type": "main", "index": 0 }]]
    },
    "Build Ingestion Request": {
      "main": [[{ "node": "Agent 1 — Ingestion", "type": "main", "index": 0 }]]
    },
    "Agent 1 — Ingestion": {
      "main": [[{ "node": "Parse Ingestion + Build Market Intel", "type": "main", "index": 0 }]]
    },
    "Parse Ingestion + Build Market Intel": {
      "main": [[{ "node": "Agent 2 — Market Intel", "type": "main", "index": 0 }]]
    },
    "Agent 2 — Market Intel": {
      "main": [[{ "node": "Parse Market Intel + Build Fin Params", "type": "main", "index": 0 }]]
    },
    "Parse Market Intel + Build Fin Params": {
      "main": [[{ "node": "Agent 3a — Extract Financial Params", "type": "main", "index": 0 }]]
    },
    "Agent 3a — Extract Financial Params": {
      "main": [[{ "node": "Calculate DSCR + Build Narrative Request", "type": "main", "index": 0 }]]
    },
    "Calculate DSCR + Build Narrative Request": {
      "main": [[{ "node": "Agent 3b — Financial Narrative", "type": "main", "index": 0 }]]
    },
    "Agent 3b — Financial Narrative": {
      "main": [[{ "node": "Parse Narrative + Build Compliance Request", "type": "main", "index": 0 }]]
    },
    "Parse Narrative + Build Compliance Request": {
      "main": [[{ "node": "Agent 4 — Compliance", "type": "main", "index": 0 }]]
    },
    "Agent 4 — Compliance": {
      "main": [[{ "node": "Parse Compliance + Build Memo Request", "type": "main", "index": 0 }]]
    },
    "Parse Compliance + Build Memo Request": {
      "main": [[{ "node": "Agent 5 — Memo Architect", "type": "main", "index": 0 }]]
    },
    "Agent 5 — Memo Architect": {
      "main": [[{ "node": "Format HTML Output", "type": "main", "index": 0 }]]
    },
    "Format HTML Output": {
      "main": [[{ "node": "Memo Ready", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "id": "sf-credit-memo-v1",
  "meta": {
    "instanceId": "sf-credit-memo-tcb"
  }
}
